/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  /* COLORS */
  --hue: 45;
  --sat: 98%;
  --body-color: hsl(var(--hue), 0%, 100%);
  --color-yellow: hsl(var(--hue), var(--sat), 60%);
  --color-yellow-alt: hsl(var(--hue), var(--sat), 53%);
  --color-dark: #272727;
  --color-white: #fff;
  --color-orange: #ff4c29;
  --color-neutral: rgba(20, 20, 20, 0.5);
  --text-color: hsl(var(--hue), 4%, 35%);
  /* FONT WEIGHT */
  --font-semi-bold: 600;
  --font-bold: bold;
  /* FONT AND TYPOGRAPHY */
  --body-font: 'Poppins', sans-serif;
  --font-small: .8rem;
  --font-big: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
  padding-bottom: 5em;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

main {
  padding: 0 2rem 0 2rem;
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home__img {
  max-width: 420px;
}

.home__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.home__description {
  margin-bottom: 2rem;
}

.button {
  color: var(--color-dark);
  background-color: var(--color-yellow);
  padding: .75rem 1.5rem;
  border-radius: 3rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background-color: var(--color-yellow-alt)
}

.laptops__title {
  text-align: center;
}

.laptops__list {
  display: flex;
  flex-wrap: wrap;
}

.laptop__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: .25rem .75rem .75rem;
  box-shadow: 0px 8px 1px var(--color-neutral);
  border-radius: 1rem;
  margin: .3rem;
}

.laptop__img {
  width: 200px;
  justify-self: center;
  margin-bottom: .25rem;
}

.laptop__title {
  text-align: center;
}

.laptop__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .5rem .625rem;
  border-radius: 1rem 0 1rem 0;
}

.laptop__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.laptop__image {
  max-width: 360px;
}

.laptop__image img {
  width: 100%;
  height: auto;
}

.laptop__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 auto;
}

.laptop__description-item {
  font-size: var(--font-small);
}

.laptop__description p:last-of-type {
  margin-bottom: 2rem;
}

.icon {
  font-size: var(--font-big);
  margin-right: 4px;
}

/* ========== MEDIA QUERIES ========== */
/* MEdium Devices */
@media screen and (min-width: 767px) {
  .home__container {
    padding: 4rem 0 2rem;
  }
}

/* Large Devices */
@media screen and (min-width: 968px) {
  .home__container {
    flex-wrap: nowrap;
  }
}