header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

.nav__logo {
  font-weight: var(--font-bold);
  text-decoration: none;
  margin-left: 1.5rem;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--color-white);
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    padding: 1rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 2rem;
    transition: .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  list-style: none;
}

@media screen and (min-width: 767px) {
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__toggle {
    display: none;
  }
}

.nav__link, .nav__logo, .nav__toggle {
  font-weight: var(--font-bold);
  color: var(--text-color);
}

.nav__link {
  text-decoration: none;
}

.nav__link:hover {
  border-bottom: 1px solid black;
}

.nav__toggle, .nav__cart {
  font-size: 1.3rem;
  cursor: pointer;
}

.nav__cart {
  font-size: 1.5rem;
  position: relative;
  font-weight: bold;
}

.cart__badge {
  position: absolute;
  background-color: var(--color-yellow);
  padding: .1rem;
  border-radius: 35%;
  font-size: .7rem;
  font-weight: bold;
  top: -5px;
  right: 0;
}

.show-menu {
  top: calc(var(--header-height) + .5rem);
}

.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  color: var(--text-color);
  font-size: 1.8rem;
  cursor: pointer;
}